target
!deploy/**/target
deploy/target
*.~*
*~
*.iml
*.ipr
*.iws
.idea
.DS_Store
.scannerwork

addon-db.lck
addon-db.log
addon-db.properties
addon-db.script
structure-cloud.log

node_modules

.toDelete
